.serv
{
    background-color: antiquewhite;
    
}

.card1
{
    padding-left: 16%;
    padding-top: 5%;
    display: flex;
}
.card2
{
    padding-left: 16%;
    padding-top: 5%;
    display: flex;
}

/* .boy
{
    background-image: ;
} */